{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}

<div style = "position:relative; border:solid;
    font-size:40px; background-color:gray">
    <a href = "/changepassword" >Change Password</a> <br>
    <a href = "/updatepayment" >Update Payment</a>
 </div>
 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Password.svg/1024px-Password.svg.png"
 width="250" height="250">
 <img src="https://image.shutterstock.com/image-vector/people-sending-receiving-money-wireless-260nw-465600824.jpg"
width="700" height="500">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Password.svg/1024px-Password.svg.png"
 width="250" height="250">

{% else %}
{% endif %}
{% endblock %}
