{% extends "base.html" %}
{% block content %}
<head>
    <a href="/">
        <button>Go home</button>
    </a>
    <h1 style="text-align:center;">All Reviews</h1>
</head>


<body>
    <h2 style="text-align:center;">Add a Review</h1>
    {% if session['logged_in'] %}
        <form action="/addreview" method="POST">
            <ul></ul>
            <textarea type="review"  name="review"  placeholder="Type a review"></textarea>
            <a href="/addreview">
                <input type="submit" value="Add">
            </a>
            
        </form>


    {% else %}
        <a href="/login">
            <button>Login!</button>
        </a>
        <ul style="text-align:center;">Login required.</ul>
    
    {% endif %}

 
    {% for review in review_list %}
                    
    <li>{{review.username}} wrote {{review.review}}</li>

    {% endfor %}



</body>
{% endblock %}
