{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <div style = "position:relative; border:solid;
            background-color:gray"
            <p>{{msg}}</p>
        </div>
        {% endfor %}
    {% endif %}
{% endwith %}
   
	{% if data %}
	<h3>{{data}}</h3>
	{% else %}

	<a href="/logout">Logout</a> <br> <br>
	<a href="/accountdetails"> Account Details</a> <br>
	<a href="/browse">Browse </a><br>
	<a href="/delete">
        <button>Delete your account </button>
    </a>
	{% endif %}

{% else %}
<p>Please login or create an account</p>

    <a href="/login">
        <button>Login</button>
    </a>

    <a href="/register">
        <button>Register</button>
    </a>

    <a href="/browse">
        <button>Browse</button>

    </a>
    <ul></ul>
    <img src="https://img5.goodfon.com/original/1920x1080/b/e2/welcome-home-welcome-home-de.jpg" width="500" height="300">


{% endif %}
{% endblock %}
