{% extends "base.html" %}
{% block content %}

<head>
    <a href="/browse">
        <button> Go back</button>
    </a>
    <h1 style="text-align:center;">Item Information: {{itemName}}</h1>
</head>

<body>
    <h2>Details:</h2>
    {% if coupon == True %}
        <ul>
            <li>Price: <s>${{itemPrice}}</s> ${{ReducedPrice}}</li>
        </ul>

    {% else %}
        <ul>
            <li>Price: ${{itemPrice}}</li>
        </ul>
    {% endif %}


    {% if session['logged_in'] %}
        {% if coupon == True %}
            <ul>
                <li>Coupon Entered!</li>
            </ul>

        {% else %}
            
                <!--<input type="coupon" name="coupon" placeholder="Coupon Code">-->
                <a href="/iI/{{IdNum}}/coupon">
                    <!--<input type="submit" value="Enter Coupon Code">-->
                    <button> Enter Coupon Code</button>
                </a>
            
        {% endif %}
    
 
    <ul></ul>
    <a href="/iI/{{IdNum}}/addreview">
        <!--<input type="submit" value="Enter Coupon Code">-->
        <button>Add a Review!</button>
    </a>

    {% else %}
        
        <ul style="text-align:center;">Login required for coupon and reviews.</ul>
        <a href="/login">
            <button>Login!</button>
        </a>
    
    {% endif %}
    


</body>

{% endblock %}
